In [1]:
# Importing libraries
import pandas as pd
import numpy as np

# Read csv file into a pandas dataframe
df = pd.read_csv("31084524_missing_data.csv")

# Take a look at the first few rows
df.head()

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD459960,ID2005895258,2019-07-05,Nickolson,"[('Lucent 330S', 2), ('Thunder line', 2)]",6820.0,85.54,-37.802247,144.965929,5,6564.54,Winter,True,1.8475,"five stars brand new product, it arrived on ti...",1.0
1,ORD303713,ID0634783954,2019-11-23,NaN,"[('pearTV', 1), ('Toshika 750', 2)]",14950.0,100.51,-37.813333,144.937528,25,11313.01,Spring,True,0.8423,five stars as expected and promised,1.0
2,ORD458495,ID1492410161,2019-08-14,Thompson,"[('Candle Inferno', 2), ('Olivia x460', 2)]",3310.0,82.60,-37.802831,144.963626,5,3227.10,Winter,True,1.8223,five stars phone worked very well,1.0
3,ORD136217,ID0846568273,2019-04-07,Nickolson,"[('Candle Inferno', 2), ('pearTV', 2)]",13480.0,78.81,-37.821078,144.969100,10,12210.81,Autumn,True,0.2792,so far so good this product has been working g...,1.0
4,ORD250948,ID0247028736,2019-01-07,NaN,"[('Universe Note', 1), ('Alcon 10', 1)]",12400.0,66.12,-37.816181,144.970351,15,10606.12,Summer,False,0.2778,"wow, amazing bargin! when this amazing quad co...",1.0

In [2]:
df.isnull().sum().to_csv("file.csv")

In [3]:
df['order_price'].fillna((df['order_price'].mean()), inplace=True)

In [4]:
df.isnull().sum()

order_id                          0
customer_id                       0
date                              0
nearest_warehouse                55
shopping_cart                     0
order_price                       0
delivery_charges                 40
customer_lat                      0
customer_long                     0
coupon_discount                   0
order_total                      15
season                            0
is_expedited_delivery             0
distance_to_nearest_warehouse    31
latest_customer_review            0
is_happy_customer                40
dtype: int64

In [5]:
df['order_total'].fillna((df['order_total'].mean()), inplace=True)

In [6]:
df.isnull().sum()

order_id                          0
customer_id                       0
date                              0
nearest_warehouse                55
shopping_cart                     0
order_price                       0
delivery_charges                 40
customer_lat                      0
customer_long                     0
coupon_discount                   0
order_total                       0
season                            0
is_expedited_delivery             0
distance_to_nearest_warehouse    31
latest_customer_review            0
is_happy_customer                40
dtype: int64

In [7]:
df['delivery_charges'].fillna((df['delivery_charges'].mean()), inplace=True)

In [8]:
df.isnull().sum()

order_id                          0
customer_id                       0
date                              0
nearest_warehouse                55
shopping_cart                     0
order_price                       0
delivery_charges                  0
customer_lat                      0
customer_long                     0
coupon_discount                   0
order_total                       0
season                            0
is_expedited_delivery             0
distance_to_nearest_warehouse    31
latest_customer_review            0
is_happy_customer                40
dtype: int64

In [9]:
df['is_happy_customer'].fillna((df['is_happy_customer'].mean()), inplace=True)

In [10]:
df.isnull().sum()

order_id                          0
customer_id                       0
date                              0
nearest_warehouse                55
shopping_cart                     0
order_price                       0
delivery_charges                  0
customer_lat                      0
customer_long                     0
coupon_discount                   0
order_total                       0
season                            0
is_expedited_delivery             0
distance_to_nearest_warehouse    31
latest_customer_review            0
is_happy_customer                 0
dtype: int64

In [11]:
df['distance_to_nearest_warehouse'].fillna((df['distance_to_nearest_warehouse'].mean()), inplace=True)

In [12]:
df.isnull().sum()

order_id                          0
customer_id                       0
date                              0
nearest_warehouse                55
shopping_cart                     0
order_price                       0
delivery_charges                  0
customer_lat                      0
customer_long                     0
coupon_discount                   0
order_total                       0
season                            0
is_expedited_delivery             0
distance_to_nearest_warehouse     0
latest_customer_review            0
is_happy_customer                 0
dtype: int64

In [13]:
df.shape

(500, 16)

In [14]:
df['nearest_warehouse'].fillna(0)

0      Nickolson
1              0
2       Thompson
3      Nickolson
4              0
         ...
495    Nickolson
496       Bakers
497    Nickolson
498     Thompson
499    Nickolson
Name: nearest_warehouse, Length: 500, dtype: object

In [15]:
df.isnull().sum()

order_id                          0
customer_id                       0
date                              0
nearest_warehouse                55
shopping_cart                     0
order_price                       0
delivery_charges                  0
customer_lat                      0
customer_long                     0
coupon_discount                   0
order_total                       0
season                            0
is_expedited_delivery             0
distance_to_nearest_warehouse     0
latest_customer_review            0
is_happy_customer                 0
dtype: int64