In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
cd /content/drive/My Drive/ANI/August

/content/drive/My Drive/ANI/August

In [ ]:
import csv
print("WELCOME TO DATAMANGER")
print("1 LIST ALL \n 2 LIST ID \n 3 LIST NAME \t 4 DELETE ID \t 5 UPDATE ID \t 6 ADD \t 7  EXIT ") 
s1=["1 LIST ALL","2 LIST ID", "3 LIST NAME"]
s2=["2 LIST ALL"]

WELCOME TO DATAMANGER
1 LIST ALL
 2 LIST ID
 3 LIST NAME 	 4 DELETE ID 	 5 UPDATE ID 	 6 ADD 	 7  EXIT

************************************************ * *************************************************

In [7]:
def programmenu():
  print('{:*^100}'.format(" * "))
  column1 = ["1 LIST ALL","2 LIST ID","3 LIST NAME","7  EXIT"]
  column2 = ["4 DELETE ID","5 UPDATE ID ", "6 ADD"," "]
  for c1, c2 in zip(column1, column2):
    print ("%-15s  %s" % (c1, c2))
  print('{:*^100}'.format(" * "))
  choic=int((input("Enter your choice")))
  return choic

In [8]:
programmenu()

************************************************ * *************************************************
1 LIST ALL       4 DELETE ID
2 LIST ID        5 UPDATE ID
3 LIST NAME      6 ADD
7  EXIT
************************************************ * *************************************************
Enter your choice5

5

In [15]:
loop = 1
choice = 0
while loop == 1:
    choice = programmenu()
    if choice == 1:
      pass
    
    elif choice == 2:
      pass
    elif choice == 3:
      pass
    elif choice == 4:
      pass
    elif choice == 5:
      pass
    elif choice == 6:
      pass
    elif choice == 7:
        loop = 0

************************************************ * *************************************************
1 LIST ALL       4 DELETE ID
2 LIST ID        5 UPDATE ID
3 LIST NAME      6 ADD
7  EXIT
************************************************ * *************************************************
Enter your choice7